<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body id="body">
    <title>Home</title>
    <div>
        <nav>
            <a hx-push-url="true" hx-target="#body" hx-get="/patients">Patients</a>
            <a hx-push-url="true" hx-target="#body" hx-get="/physicians">Physicians</a>
            <a hx-push-url="true" hx-target="#body" hx-get="/appointments">Appointments</a>
        </nav>
    </div>
</body>

</html>