<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body id="body">

    <div>
        <ul>
            {% for patient in patients %}
            <li>
                <div>
                    Id: {{ patient.id }}
                </div>
                <div>
                    Name: {{ patient.name }}
                </div>
                <div>
                    Address: {{ patient.address }}
                </div>
                <div>
                    Phone: {{ patient.phone }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <button>
            <a hx-target="#body" hx-push-url="true" hx-get="/patients/new">New Patient</a>
        </button>
    </div>

</body>

</html>