<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body>
    <title>Patients</title>
    <div>
        <ul>
            {% for patient in patients %}
            <li>
                <div>
                    Id: {{ patient.id }}
                </div>
                <div>
                    Name: {{ patient.name }}
                </div>
                <div>
                    Address: {{ patient.address }}
                </div>
                <div>
                    Phone: {{ patient.phone }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>